###############################################################################
###############################################################################
#########################    CONFIGURATION FILE     ###########################
###############################################################################
###############################################################################

Ncalls       = 500000;
Niterations  = 100;
MaxError     = 1.0E-8;

delta       = 1.0;
T_star      = 1.0;
psi         = 0.0;
r0          = 5.0;
u_star      = 1.0;

min_x3      = 1.0;
max_x3      = 10.0;

min_z       = 0.0;
max_z       = 1.0;

min_k       = 0.0;
max_k       = 10000.0;

omega_min   = 6.2831853071795864769252867665590;
omega_max   = 62.831853071795864769252867665590;
Npoints     = 100;

