###############################################################################
###############################################################################
#########################    CONFIGURATION FILE     ###########################
###############################################################################
###############################################################################

Ncalls       = 500000;
Niterations  = 100;
MaxError     = 1.0E-8;

delta       = 1.0;
T_star      = 1.0;
psi         = 0.0;
r0          = 5.0;
u_star      = 1.0;

# Space-time correlation model h (WP-A1):
#   analytic  -> fast 3D closed-form top-hat (2022 paper; default)
#   tophat|gaussian|sweeping|elliptic|exponential -> 4D numerical phi-integration
h_model     = "analytic";
sigma_U     = 1.5;      # sweeping model: Eulerian sweeping velocity ~ u_*
beta_sw     = 0.0;      # elliptic model: V_c/U_c (0 recovers the Gaussian)
# azimuthal integration range for the 4D path
min_phi     = 0.0;
max_phi     = 6.2831853071795864769252867665590;
# Virtual-temperature (humidity) enhancement c_Tv^2/c_T^2 (WP-A2): 1.0 = dry air
cTv2_ratio  = 1.0;

min_x3      = 1.0;
max_x3      = 10.0;

min_z       = 0.0;
max_z       = 1.0;

min_k       = 0.0;
max_k       = 10000.0;

omega_min   = 6.2831853071795864769252867665590;
omega_max   = 62.831853071795864769252867665590;
Npoints     = 100;


omega_log   = false;   # true = log-spaced frequency sweep
