###############################################################################
###############################################################################
#########################    CONFIGURATION FILE     ###########################
###############################################################################
###############################################################################

Ncalls       = 500000;
Niterations  = 50;
MaxError     = 1.0E-8;

alpha       = 1.0;
psi         = 0.0;
r0          = 1.0;
u           = 10.0;

# Space-time correlation model h (WP-A1): gaussian | sweeping | elliptic | exponential
h_model     = "gaussian";
sigma_U     = 1.5;      # sweeping model: Eulerian sweeping velocity ~ u_*
beta_sw     = 0.0;      # elliptic model: V_c/U_c (0 recovers the Gaussian)
# Virtual-temperature (humidity) enhancement c_Tv^2/c_T^2 (WP-A2): 1.0 = dry air
cTv2_ratio  = 1.0;

min_phi      = 0.0
max_phi      = 6.2831853071795864769252867665590;

min_p       = 0.0;
max_p       = 1.0;

min_k       = 0.0;
max_k       = 10000.0;

omega_min   = 6.2831853071795864769252867665590;
omega_max   = 62.831853071795864769252867665590
Npoints     = 100;





omega_log   = false;   # true = log-spaced frequency sweep
