###############################################################################
###############################################################################
#########################    CONFIGURATION FILE     ###########################
###############################################################################
###############################################################################

Ncalls       = 500000;
Niterations  = 50;
MaxError     = 1.0E-8;

alpha       = 1.0;
psi         = 0.0;
r0          = 1.0;
u           = 10.0;

min_phi      = 0.0
max_phi      = 6.2831853071795864769252867665590;

min_p       = 0.0;
max_p       = 1.0;

min_k       = 0.0;
max_k       = 10000.0;

omega_min   = 6.2831853071795864769252867665590;
omega_max   = 62.831853071795864769252867665590
Npoints     = 100;




